{% extends "layout.html" %}
{% block content %}
    <div class="container">

        <h1 class="title is-1">Tadaa!</h1>

        <h2 class="title is-2">User # {{ user_id }} bought:</h2>
        <ul class="content">
            {% for row in recent_purchases %}
                <li><b>{{ row.product.name }}</b> {{ row.b.order_total }} times
            {% endfor %}

        <h2 class="title is-2">Recommended Products</h2>
        <ul class="content">
            {% for row in recommendations %}
            <li><b>{{ row.rec.name }}</b>
            {% endfor %}
        </ul>
        
        <h2 class="title is-2">Novelty Product Recommendations</h2>
        <ul class="content">
            {% for row in novelty %}
            <li><b>{{ row.otherProducts.name }}</b>
            {% endfor %}
        </ul>

        <div class="button">
            <form method="get" action="/recipes">
                <button class="button is-primary">Show me the recipes!</button>
            </form>
        </div>

        <div class="control">
            <form method="get" action="/">
                <button class="button is-light">Back, roll again!</button>
            </form>
        </div>

    </div>
{% endblock %}