<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8" />
        <title>Recommender</title>
        <meta name="viewport" conten="width=device-width, initial-scale=1">
    </head>
<body>

    <h2>Tadaa!</h2>

    <b>User # {{ user_id }} bought:</b>
    <ul class="recent purchases">
        {% for row in recent_purchases %}
          <li>
              <b>{{ row.product.name }}</b> {{ row.b.order_total }} times
        {% endfor %}
    </ul>

    <b>Recommended Products</b>
    <ul class="recommendations">
        {% for row in recommendations %}
          <li>
              <b>{{ row.rec.name }}</b>
        {% endfor %}
    </ul>
    
    <b>Novelty Product Recommendations</b>
    <ul class="recommendations">
        {% for row in novelty %}
          <li>
              <b>{{ row.otherProducts.name }}</b>
        {% endfor %}
    </ul>

    <form method="get" action="/">
        <input type="submit" value="Back, roll again!"/>
    </form>

    <form method="get" action="/recipes">
        <input type="submit" value="Show me the recipes...!"/>
    </form>
        
</body>
</html>