<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="utf-8" />
        <meta name="viewport" conten="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Recommender</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    </head>
<body>
    <div class="container">

        <h1 class="title is-1">I'm Feeling Hungry.</h1>

        <div class="control">
            <form method="get" action="/feeling_hungry">
                <button class="button is-primary" >Go!</button>
            </form>
        </div>
    </div>
</body>
</html>