<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipe Recommender</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
</head>
<body>
    <!--Header-->
    <div class="container">
        <div class="block">
            <br>
            <h class="title">General Assembly</h>
            <br>
            <h class="subtitle">Data Science Immersive</h>
            <br>
            <h class="subtitle"><i>Singapore</i></h>
            <br>
            <h class="title is-1">Recipe Recommender</h>
            <hr>
        </div>
    </div>

    <!--Content-->
    {% block content %}{% endblock %}

    <!--Footer-->
    <div class="container">
        <div class="block">
            <hr>
            Made with &hearts; by <a href="https://github.com/phlsphy">phlsphy</a>
            <br>
            Photo by <a href="https://unsplash.com/photos/zhO4JJv0zi4?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">John Legrand</a> on Unsplash.
            <br>
            Tech Stack: Neo4j, iGraph, Flask, and Python (duh).
            <br>
            The project can be found at this Github <a href="">repo</a>.
        </div>
    </div>

</body>
</html>