<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipe Recommender</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>
<body>

    <!--Header-->
    <div class="container">
        <div class="block">
            <article class="media">
                <figure class="media-left">
                    <br>
                    <p class="image is-96x96">
                    <img src="/static/GA_logo_highres.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                    <p>
                        <br>
                        <h class="title">General Assembly</h>
                        <br>
                        <h class="subtitle">Data Science Immersive</h>
                        <br>
                        <h class="subtitle"><i>Singapore (Feb-May 2018)</i></h>
                        <br>
                        
                    </p>
                    </div>
                </div>
            </article>
            <h class="title is-1">Recipe Recommender</h>
            <hr>
        </div>
    </div>

    <!--Content-->
    {% block content %}{% endblock %}

    <!--Footer-->
    <div class="container">
        <div class="block">
            <div class="content is-small">
                <hr>
                <p> 
                    Made with &hearts; by <a href="https://github.com/phlsphy">phlsphy</a>.
                    <br>
                    Tech Stack: Neo4j, iGraph, Flask, and Python (duh).
                    <br>
                    The project can be found at this Github <a href="">repo</a>.
                    <br>
                    Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>.
                </p>
            </div>
        </div>
    </div>

</body>
</html>