{% extends "layout.html" %}
{% block content %}
    <div class="container">

    <h1 class="title is-1">Tadaa!</h1>

    <h2 class="title is-2">Recipe Recommendations</h2>
    <p class="content">
        {% for row in recipes %}
          <ul>
              <h class="title is-4">{{ row.recipe.name }}</h>

              <p class="subtitle is-6">Ratings: {{ row.recipe.rating }}</p>

              <p class="subtitle is-6">Ingredients:</p>

              <ul>
              {% for ingredient in row.recipe.ingredients %}
              <li>{{ ingredient }}</li>
              {% endfor %}
              </ul>

              <p class="subtitle is-6">Directions:</p>
              <ul>
              {% for direction in row.recipe.directions %}
              <li>{{ direction }}</li>
              {% endfor %}
              </ul>

            </ul>
        {% endfor %}
        </p>

        <div class="control">
            <form method="get" action="/">
                <button class="button is-primary">Start Again!</button>
            </form>
        </div>

    </div>
{% endblock %}